<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Интернет-магазин</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div id="app">
    <header>
        <div class="logo">E-shop</div>
        <cart-component ref="cart"></cart-component>
    </header>
    <main>
        <alert-box :message="errorText" @on-clear-error="errorText = ''"></alert-box>
        <div class="products">
            <p class=".goods-list" v-if="products.length === 0">Список товаров пуст!</p>
            <div class="product-item" v-for="product of filteredProducts" :key="product.id_product">
                <img :src="imgCatalog" alt="Some img">
                <div class="desc">
                    <h3>{{product.product_name}}</h3>
                    <p>{{product.price}} $</p>
                    <button class="buy-btn" @click="$refs.cart.addProduct(product)">Купить</button>
                </div>
            </div>
        </div>
    </main>
</div>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/alert-box.js"></script>
    <script src="js/search-form.js"></script>
    <script src="js/cart-item-component.js"></script>
    <script src="js/cart-component.js"></script>
    <script src="js/main.js"></script>
</body>
</html>

